  <% flash.each do |key, value| %>
   <div id='flash' class="flash flash_<%= key %>">
     <%= value %>
   </div>
  <% end %>
  
  <article id="blog_post">
    
    <div class="col-sm-8">
      <header>
        <h1><%= @post.title %></h1>
        <section class='details'>
          <time datetime="<%=l @post.published_at.to_date, :format => :default %>" class='posted_at'>
            <%= t('created_at', :scope => 'refinery.blog.shared.posts', :when => l(@post.published_at.to_date, :format => :long)) %>
          </time>

        <!-- Begin author link -->
          <div class="blog_author">
            By <%= link_to "#{@post.author.username}", "/blog/author/#{@post.author.id}" if @post.author.present? %>
          </div>
        <!-- End author link -->

          <% if @post.source_url.present? %>
            <div class='blog_source'>
              <%= "#{t('source', :scope => 'refinery.blog.posts.show')}: " %>
              <%= link_to (@post.source_url_title.blank? ? @post.source_url : @post.source_url_title), @post.source_url %>
            </div>
          <% end %>
          <% if (categories = @post.categories).any? %>
            <aside class='filled_in'>
              <%= t('filled_in', :scope => 'refinery.blog.posts.show') %>
              <% categories.each_with_index do |category, index| %>
                <%= link_to category.title, refinery.blog_category_path(category) -%><%= ',' if index < ((categories.length) - 1) %>
              <% end %>
            </aside>
          <% end %>
        </section>
      </header>
      <br>
      <%= @post.body.html_safe %>
    
    <%= render 'nav' if next_or_previous?(@post) %>

      <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES * * */
            var disqus_shortname = 'fittery';
            
            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
      </div>
    </div>
    
  </article>
  <div class="col-sm-4">
    <%= render '/refinery/blog/shared/body_content_right' %>
  </div>


  <%= render '/refinery/draft_page_message' unless @post.nil? or @post.live? -%>
</div>
