<div class= "author_bio">
	
		<% unless @author.nil? %>
			<div class="row well">
				<div class= "col-md-4">

					<img src="<%= @author.image.url %>" alt="<%= @author.full_name%>" height="100%" width="100%" class="img-circle">
				</div>
				<div class="col-md-8">
					<h2><%= @author.full_name %></h2>
					<h4><%= @author.auth_title.upcase %> </h4>
					
					<div class="twit_img">
						<%= image_tag("twitter.png", class: "img-responsive", :size => "25x25") %>	
					</div>

					<div class="twit-handle">
						<%= link_to "#{@author.auth_twitter}", "http://www.twitter.com/#{@author.auth_twitter}", :target =>"_blank" %>
					</div>
					<p><%= @author.auth_bio %></p>
				</div>
			</div>
		<%end%>
	</div>
</div>