<div class= "author_bio">
	
		<% unless @author.nil? %>
			<div class="row well">
				<div class= "col-md-4">

					<img src="<%= @author.image.url %>" alt="<%= @author.full_name%>" height="100%" width="100%" class="img-circle">
				</div>
				<div class="col-md-8">
					<h1><%= @author.full_name %></h1>
					<h3><%= @author.auth_title %> </h3>
					<p><%= @author.auth_bio %></p>
					<div class="inline-block">
					

					<%= image_tag("twitter.png", class: "img-responsive", :size => "25x25") %>
					<%= link_to "#{@author.auth_twitter}", "http://www.twitter.com/#{@author.auth_twitter}", :target =>"_blank" %>
					</div>
				</div>
			</div>
		<%end%>
	</div>
</div>