= render "/refinery/blog/shared/newsletter"
%br/
%br/
= render "/refinery/blog/shared/posts"
%br/
= render "/refinery/blog/shared/categories"
%br/
= render "/refinery/blog/shared/tags"
%br/
= render "/refinery/blog/shared/follow_us"
/ Go to www.addthis.com/dashboard to customize your tools
%script{:async => "async", :src => "//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-559d6a2f5d9bc1d4", :type => "text/javascript"}
