
  <% if post.live? %>
    <article class="blog_post" id="<%= dom_id(post) %>">
      <header>
        <%= link_to refinery.blog_post_path(post) do %>
          <h2><%= post.title %></h2>
        <% end %>
        <div class="text-justify">
          <section class='details'>
            <h4>
              <ul class="list-inline">
              <!-- Begin author link -->
                <li><%= link_to "#{post.author.username.upcase}", "/blog/author/#{post.author.id}" if post.author.present? %></li>
              <!-- End author link -->
                
                &middot;

                <% if (categories = post.categories.translated).any? %>
          
                <li><%= t('filled_in', :scope => 'refinery.blog.posts.show') %>
                <%=raw categories.collect { |category| link_to category.title, refinery.blog_category_path(category) }.to_sentence.upcase %></li>
                
                &middot;
                
                <% end %>

                <li><time datetime="<%=l post.published_at.to_date, :format => :default %>" class='posted_at'>
                  <%= t('created_at', :scope => 'refinery.blog.shared.posts', :when => l(post.published_at.to_date, :format => :long)) %>
                </time></li>
              </ul>
            </h4>
          </section>
        </div>
        <br>
      </header>


      <section class='clearfix'>
        <% if blog_post_teaser_enabled? %>
          <%= blog_post_teaser(post) %>
        <% else %>
          <%= post.body.html_safe %>
        <% end %>
      </section>
      <footer>
        <p>
          <% if blog_post_teaser_enabled? && post.custom_teaser.present? %>
          <%= link_to t('read_more', :scope => 'refinery.blog.shared.posts'), refinery.blog_post_path(post) %>
          <% end %>
        </p>
        
      </footer>
    </article>
  <% end %>
